body {
    margin: 0;
    background-color: lightgray;
    background: #0d0d0d;
    font-family: Arial, sans-serif;
    color: white;
    line-break: anywhere;
}

.menu-toggle {
    display: none;
}

/* Navigation bar */


nav {
    width: 100%;
    height: 15vh;
    position: sticky;
    top: 0px;
    left: 0px;
    z-index: 10;
    background: rgba(20, 20, 20, 0.95);
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(10px);
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.3);
}

.leftnav,
.rightnav {
    position: relative;
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
}

.leftnav a,
.rightnav a {
    position: relative;
}

.rightnav {
    justify-content: end;
    gap: 40px;
}

.leftnav a::after,
.rightnav a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0px;
    width: 100%;
    height: 2px;
    background-color: #00ffff;
    transform: scaleX(0);
    transition: transform 0.3s ease;
}

.leftnav a:hover::after,
.rightnav a:hover::after {
    transform: scaleX(1);
}

nav a {
    text-decoration: none;
    font-weight: bold;
    color: #00ffff;
    position: relative;
    letter-spacing: 1px;
    transition: 0.3s;
}

nav a:hover {
    color: #00ffa6;
    text-shadow: 0 0 8px #00ffa6;
}

/* Main content */

.main-content {
    height: auto;
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.main-content::before {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    background: radial-gradient(circle, rgba(0, 255, 255, 0.4), rgba(0, 0, 0, 0.1));
    border-radius: 50%;
    top: -150px;
    left: -200px;
    z-index: -1;
    filter: blur(90px);
}

.main-content::after {
    content: "";
    position: absolute;
    width: 500px;
    height: 500px;
    background: radial-gradient(circle, rgba(0, 255, 166, 0.4), rgba(0, 0, 0, 0.1));
    border-radius: 50%;
    bottom: -150px;
    right: -150px;
    z-index: -1;
    filter: blur(90px);

}

/* Data */

.data {
    width: 100%;
    height: 90vh;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

.cardMain {
    width: 80%;
    position: absolute;
    top: 10%;
    right: 0px;
    transform: translateX(-50%);
    background: rgba(30, 30, 30, 0.8);
    z-index: 0;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
    display: flex;
    gap: 0px;
    backdrop-filter: blur(8px);
    box-shadow: -5px 5px 30px rgba(0, 255, 255, 0.25);
    border: 1px solid rgba(0, 255, 255, 0.15);
}

.data img {
    width: 250px;
    height: 250px;
}

.leftdata {
    width: 40%;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0px;
    z-index: 1;
}

.leftdata img {
    padding: 20px;
    background: whitesmoke;
    border-radius: 50%;
    object-fit: cover;
    border: 3px solid black;
}

.mydata {
    width: 60%;
    margin: 4% 0px;
    color: white;
    font-size: 20px;
    background: rgba(0, 0, 0, 0.4);
    color: black;
    border-radius: 35px;
    padding: 20px;
    border: 1px solid rgba(0, 255, 255, 0.2);
    backdrop-filter: blur(15px);
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.2);
}

.mydata h1 {
    margin-top: 5px;
    margin-bottom: 15px;
    background: linear-gradient(90deg, #00ffff, #00ffa6);
    -webkit-background-clip: text;
    color: transparent;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
}

.mydata h3 {
    background: rgba(0, 255, 255, 0.2);
    color: #00ffff;
    border: 1px solid rgba(0, 255, 255, 0.4);
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.mydata p {
    text-indent: 80px;
    text-align: justify;
    line-height: 1.6;
    font-size: 18px;
    color: #e0ffff;
}


/* Education Section */


.education {
    position: relative;
    width: 80%;
    margin: 60px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.eduCard::before {
    content: "";
    width: 2px;
    height: 100%;
    border: 1px solid rgba(0, 255, 255, 0.4);
    position: absolute;
    top: 0px;
    left: -20px;
    background-color: #00ffff;
    box-shadow: 0 0 15px rgba(0, 255, 255, 0.3);
}

.eduTitle {
    position: relative;
}

.eduCard .eduTitle::before {
    content: "";
    width: 15px;
    height: 15px;
    position: absolute;
    border-radius: 50%;
    top: 3px;
    left: -28px;
    background-color: #00ffff;
    border: 3px solid rgba(0, 255, 255, 0.4);
    box-shadow: 0 0 18px rgba(0, 255, 255, 0.3);
}

.eduTitle {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

.eduCard {
    background: -webkit-repeating-linear-gradient();
    /* border-bottom: 2px solid rgba(0, 255, 255, 0.3); */
    border-top: 2px solid rgba(0, 255, 255, 0.3);
    border-right: 2px solid rgba(0, 255, 255, 0.3);
    border-radius: 0px 50px 50px 0px;
}

/* Skills */

.skills {
    width: 85%;
    margin-bottom: 60px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 20px;
    line-break: normal;
}

.softSkills,
.proSkills {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.skillCard {
    width: 30%;
    height: max-content;
    display: flex;
    flex-direction: column;
    padding: 20px;
    box-sizing: border-box;
    border-radius: 30px;
    border: 2px solid rgba(0, 255, 255, 0.3);
}

/* Projects */


.projects {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.projectCard {
    width: 40%;
    height: max-content;
    padding: 30px;
    border: 2px solid rgba(0, 255, 255, 0.3);
    border-radius: 80px 80px 0 0;
    transition: all 0.3s ease;
    overflow: hidden;
}

.projectTitle {
    margin-bottom: 10px;
}

.projectCard .projectDescrip {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 0.4s ease;
}

.projectCard:hover .projectDescrip {
    max-height: 500px;
    opacity: 1;
    margin-top: 10px;
}

li a {
    text-decoration: none;
    color: white;
}

/* Achievements */
.achievements {
    width: 90%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.achieCard {
    width: 90%;
    display: flex;
    flex-direction: column;
    color: #00ffff;
    background: rgba(0, 255, 255, 0.2);
    padding: 30px;
    border: 1px solid rgba(0, 255, 255, 0.4);
    border-radius: 80px;
    text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
}

.achieTitle {
    width: fit-content;
    border: 2px solid black;
    background-color: azure;
    color: black;
    padding: 10px;
    border-radius: 40px;
}

.imgWrapper {
    width: 100%;
    height: 300px;
    background: #0d0d0d;
    border-radius: 10px;
    position: relative;
    overflow: hidden;
}

.imgWrapper::before {
    content: "";
    position: absolute;
    inset: 0;
    background-size: cover;
    background-position: center;
    filter: blur(20px);
    transform: scale(1.2);
    background-image: inherit;
    /* actual image is used as background  */
}

.imgWrapper img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: relative;
    z-index: 2;
    transition: all 1s ease;
}

.imgWrapper img:hover {
    transform: scale(1.2);
}

@media screen and (max-width: 600px) {
    * {
        font-size: 10px;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        display: inline-block;
        top: 0px;
        left: 20px;
        font-size: 30px;
        color: #00ffff;
        cursor: pointer;
        z-index: 20;
    }

    nav {
        width: 50%;
        display: none;
        flex-direction: column;
        position: absolute;        
        backdrop-filter: blur(10px);
        padding: 20px;
        border: 2px solid black;
        border-radius: 30px;
        border-top-left-radius: 0px;
    }

     nav.open {
        display: flex;
        height: auto;
        gap: 15px;
        top: 35px;
        left: 40px;
        background: transparent;
    }

    nav a{
        width: 100%;
        text-align: center;
    }

    .leftnav,
    .rightnav {
        width: 100%;
        flex-direction: column;
        gap: 15px;
    }

    .main-content {
        padding-top: 0vh;
    }

    .data {
        flex-direction: column;

    }

    .cardMain {
        width: 80%;
        height: 70vh;
        top: 10%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .data img {
        width: 140px;
        height: 140px;
    }

    .mydata {}

    .mydata h1 {
        margin-top: 2px;
        margin-bottom: 5px;
        font-size: 14px;
    }

    .mydata h3 {
        font-size: 12px;
    }

    .mydata p {
        text-indent: 80px;
        text-align: justify;
        line-height: 1.6;
        font-size: 10px;
        color: #e0ffff;
    }

    #Education,
    #skills,
    #projects,
    #achievements {
        border: 2px double rgba(0, 255, 255, 0.4);
        box-shadow: 0 0 30px rgba(0, 255, 255, 0.5);
        border-radius: 20px;
        font-size: 16px;
        padding: 10px 100px;
        box-sizing: border-box;
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
        text-decoration: underline;
        margin: 40px 0px;
    }

    .eduCard h2,
    .skillTitle,
    .projectTitle,
    .achieTitle {
        font-size: 12px;
    }

    .uniName,
    .per,
    .skillDescrip,
    .projectDescrip,
    .achieDescrip {
        font-size: 10px;
    }

    .softSkills,
    .proSkills {
        gap: 20px;
    }

    .skillCard {
        width: 100%;
    }

    .projectCard {
        width: 100%;
        height: min-content;
        text-align: center;
    }

    .achieCard {
        width: 90%;
        padding: 30px;
        box-sizing: border-box;
        border-radius: 40px;
        text-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    }

    .imgWrapper {
        width: 90%;
        height: 200px;
    }
}